---
import Layout from "../layouts/Layout.astro";
---

<Layout title="otro">
  <h1 class="text-white font-bold text-4xl">About the project</h1>

  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic esse mollitia
    aspernatur qui consequuntur incidunt ipsa unde quae rerum amet maxime
    placeat maiores tempora dignissimos obcaecati, nulla dolorum a nostrum?
    Illum, necessitatibus. Id, veniam! Dolore quis doloribus illo maxime eum hic
    nisi fugit dolor non culpa, tenetur rem reprehenderit quaerat beatae
    molestiae porro vel officiis tempora, amet vero eius quos? Ad quisquam
    laudantium vel
  </p>
</Layout>
